color=always
spin=false
progress=false
depth=0
optional=false
package-lock=false
# detect_chromedriver_version=true
# //registry.npmjs.org/:_authToken=${NPM_TOKEN}
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
@happymoneyinc:registry=https://npm.pkg.github.com
