* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  height: 100%;
}
html {
  background-color: #FFFFFF;
}
#__next {
  height: 100%;
}
.drawer-content {
  display: flex;
  flex-direction: column;
}
@font-face {
  font-family: 'MabryPro';
  src: local('MabryPro'), url(./fonts/MabryPro-Regular.ttf) format('opentype');
}